parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - resources
        - routes
        - tests
    excludePaths:
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
        - app/Http/Kernel.php
        - app/Providers/AppServiceProvider.php
        - app/Providers/AuthServiceProvider.php
        - app/Providers/BroadcastServiceProvider.php
        - app/Providers/EventServiceProvider.php
        - app/Providers/RouteServiceProvider.php
        - app/Providers/FortifyServiceProvider.php
    checkMissingIterableValueType: false 
